# Configuration file

~CONFIG_VERSION: 0.1.0

world242135152 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world242135155 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@industrial
    B:overlayEnabled=true
}


world835993789 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=obsidian

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


